.App {
  text-align: center;
}

.calculator {
  background-color: beige;
  margin: 5px;
  padding: 5px;
  width: 450px;
  margin: auto;
}

.screen-unit {
  width: 90%;
  height: 70px;
}

.key {
  width: 80px;
  height: 50px;
  /* background-color: blueviolet; */
  /* float: left; */
  padding: 2px;
  border-right: 1px solid;
  border-bottom: 1px solid;
}

.number-keys {
  width: 260px;
  /* background-color: brown; */
  padding: 1px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-gap: 1px; */
}

.operator-keys {
  width: 180px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.keypad {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.key-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.screen-unit {
  font-size: 40px;
}